<div class="loginmaincont">
   
        <div class="logincard card w-96 h-96 bg-base-100 shadow-xl">
            <div class="card-body ">
              <h2 class="card-title text-3xl font-bold mb-8">Login</h2>
              <input type="text" placeholder="user name" class="input input-bordered w-full max-w-xs mb-5" />
              <input type="text" placeholder="password" class="input input-bordered w-full max-w-xs" />
              

              <div class="card-actions justify-end mt-8">
                <button class="btn btn-primary">login</button>
              </div>
            </div>
          </div>
    </div>
